.button5{
    background-color: rgb(98, 5, 145);
  }

  input[type=text] {
    
    background-color: white;
    color: black;
    box-shadow: inset 0px 0px 0px 0px red;
    
  }

  
  input:focus {
    border-color:gray;
  }
  